<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/home.css">
    <title>
        <%= title %>
    </title>
</head>

<body>

    <div id="app">
        <div>
            <a href="https://vitejs.dev" target="_blank">
                <img src="../../public/EJS.png" class="logo" alt="EJS Logo" />
            </a>
            <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">
                <img src="../../public/Expressjs.png" class="logo vanilla" alt="Expressjs Logo" />
            </a>
            <h1>
                <%= h1 %>
            </h1>
            <div class="card">
                <button id="counter" type="button"></button>
            </div>
            <p class="read-the-docs">
                Click on the Vite logo to learn more
            </p>
        </div>
    </div>

    <script src="resources/js/home.js" type="module"></script>
</body>

</html>