<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{{title}}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="resources/css/home.css">
</head>
<body>
    
    <div id="app">
        <div>
            <a href="https://docs.adonisjs.com/guides/views/introduction" target="_blank">
                <img src="../../public/edge.png" class="logo" alt="edge Logo" />
            </a>
            <a href="https://expressjs.com/" target="_blank">
                <img src="../../public/Expressjs.png" class="logo vanilla" alt="Expressjs Logo" />
            </a>
            <h1>
                {{ h1 }}
            </h1>
            <div class="card">
                <button id="counter" type="button"></button>
            </div>
            <p class="read-the-docs">
                Click on the Ejs logo to learn more
            </p>
        </div>

<script src="resources/js/home.js" type="module"></script>
</body>
</html>